// 颜色定义
$color-orange = #1989fc
$color-main = #000
$color-sub = #333

$color-red = #ff525d

// 字体定义
$size-main = 32rpx
$size-sub = 28rpx

// 阴影
$box-shadow = 0px 4px 20px 0px rgba(0,0,0,0.4)

$border = 2rpx solid #ebedf0

// flex布局相关

flex-center()
  display flex
  align-items center
  justify-content center

flex-space-between()
  display flex
  align-items center
  justify-content space-between

flex-column()
  display flex
  flex-direction column

// 动画相关
@-webkit-keyframes showbotomToUp
  from
    transform translateY(100%) scale(1.5)
    opacity 0
  to
    transform translateY(0) scale(1)
    opacity 1
@-webkit-keyframes homeJishu
  from
    transform translateX(100%)
    opacity 0
  to
    transform translateX(0)
    opacity 1
@-webkit-keyframes homeOushu
  from
    transform translateX(-100%)
    opacity 0
  to
    transform translateX(0)
    opacity 1